{% if cart.item_count > 0 %}
  <div class="cart-header">
    <p>Your Cart</p>
    <p class="cart-link last-nav-item js-close-button">Close (X)</p>
  </div>

  <div class="cart-header cart-grid">
    <p>Product</p>
    <p class="last-nav-item">Total</p>
  </div>

  <form action="/cart" method="post" class="cart-form" novalidate>
    <div class="cart-lines">
      {% for item in cart.items %}
        <div class="cart-grid-item">
          {% comment %} Image {% endcomment %}
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" class="cart-grid-item-image">
          </a>

          {% comment %} Info {% endcomment %}
          <div class="cart-grid-item-content">
            <div class="cart-grid-item-inside-content">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              <p>{{ item.price | money }}</p>
              <p>{{ item.variant.title }}</p>
            </div>
            {% comment %} Quantity {% endcomment %}
            <div class="quantity-selector" data-item-id="{{ item.id }}">
              <button class="quantity-button js-quantity-button minus" type="button" data-target="#Quantity-{{ item.id }}">
                -
              </button>
              <span class="quantity-text js-quantity-text" id="QuantityText-{{ item.id }}">
                {{ item.quantity }}
              </span>
              <button class="quantity-button js-quantity-button plus" type="button" data-target="#Quantity-{{ item.id }}">
                +
              </button>
            </div>

            <div class="visually-hidden">
              <input type="number" class="js-quantity-field" id="Quantity-{{ item.id }}" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1">
            </div>
            {% comment %} End of selector {% endcomment %}
          </div>
          <div class="cart-inline-total">
            {% if item.original_line_price != item.line_price %}
              <p>{{ item.original_line_price | money }}</p>
            {% endif %}
            <p>{{ item.line_price | money }}</p>
            {% for discount in item.discounts %}
              <p>{{ discount.title }}</p>
            {% endfor %}

            <a href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{ item.id }}" class="cart-link">Remove</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="cart-bottom">
      <div class="cart-subtotal">
        <div class="subtotal-text">
          <p>Subtotal</p>
          <p class="last-nav-item">{{ cart.total_price | money_with_currency }}</p>
        </div>
        <p class="opacity-quarter">TAX INCLUDED. SHIPPING CALCULATED AT CHECKOUT.</p>
      </div>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
  {% else %}
    <h2>cart</h2>
    Cart is empty
{% endif %}
