{% if cart.item_count > 0 %}
  <div class="cart-header">
    <p>Your Cart</p>
    <p class="modal-close-button last-nav-item js-close-button">Close (X)</p>
  </div>

  <div class="cart-header cart-grid">
    <p>Product</p>
    <p class="last-nav-item">Total</p>
  </div>

  <form action="/cart" method="post" class="cart-form" novalidate>
    <div class="cart-lines">
      {% for item in cart.items %}
        <div class="cart-grid-item">
          {% comment %} Image {% endcomment %}
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" class="cart-grid-item-image">
          </a>

          {% comment %} Info {% endcomment %}
          <div class="cart-grid-item-content">
            <div class="cart-grid-item-inside-content">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              <p>{{ item.price | money }}</p>
              <p>{{ item.variant.title }}</p>
            </div>
            <div class="quantity-selector">
              <button type="button" class="quantity-change" data-item-key="{{ item.key }}" data-increment="false">-</button>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              <button type="button" class="quantity-change" data-item-key="{{ item.key }}" data-increment="true">+</button>
            </div>
          </div>
          <div class="cart-inline-total">
            {% if item.original_line_price != item.line_price %}
              <p>{{ item.original_line_price | money }}</p>
            {% endif %}
            <p>{{ item.line_price | money }}</p>
            {% for discount in item.discounts %}
              <p>{{ discount.title }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="cart-subtotal">
      <p>Subtotal: {{ cart.total_price | money_with_currency }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
  {% else %}
    <h2>cart</h2>
    Cart is empty
{% endif %}
