{% if cart.item_count > 0 %}
  <div class="cart-header">
    <p>Your Cart</p>
    <p class="modal-close-button last-nav-item js-close-button">Close (X)</p>
  </div>

  <div class="cart-header cart-grid">
    <p>Product</p>
    <p class="last-nav-item">Total</p>
  </div>

  <form action="/cart" method="post" novalidate>
    <div class="cart-lines">
      {% for item in cart.items %}
        <div class="cart-grid-item">
          {% comment %} Image {% endcomment %}
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
          </a>

          {% comment %} Info {% endcomment %}
          <div class="cart-grid-item-content">
            <a href="{{ item.url }}">{{ item.product.title }}</a>
            {{ item.variant.title }}
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            {{ item.price | money }}
            <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
  {% else %}
    <h2>cart</h2>
    Cart is empty
{% endif %}
