<footer class="footer">
  <div class="footer-content">
    <a class="footer-logo" href="{{ shop.url }}" alt="{{ 'general.shop.title' | t }}">
      <p>© 2024 LABORATORIES</p>
    </a>
    <div class="footer-menu">
      <ul class="footer-nav">
        {% for link in linklists.footer-menu.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a href="/cart" class="cart-link text-link js-cart-link">
      <span class="cart-text">{{ 'cart.button.count_html' | t: itemCount: cart.item_count }}</span>
    </a>
  </div>
</footer>
