{% paginate collections.frontpage.products by 4 %}
  <div class="product-grid">
    {% for product in collections.frontpage.products %}
      <div class="product-grid-item">
        <a href="{{ product.url | within: collection }}">
          <div class="image-container">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="product-image">
          </div>
        </a>
        <div id="title-price">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          {{ product.price | money }}
          {% unless product.available %}
            <br><strong>sold out</strong>
          {% endunless %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginate.pages > 1 %}

      <!-- Previous Page Link -->
      {% if paginate.previous %}
        <a href="{{ paginate.previous.url }}" class="prev">Previous</a>
      {% else %}
        <span class="disabled">Previous</span>
      {% endif %}

      <!-- Page Number Links -->
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <a href="{{ part.url }}">{{ part.title }}</a>
        {% elsif part.title %}
          <span>{{ part.title }}</span>
        {% endif %}
      {% endfor %}

      <!-- Next Page Link -->
      {% if paginate.next %}
        <a href="{{ paginate.next.url }}" class="next">Next</a>
      {% else %}
        <span class="disabled">Next</span>
      {% endif %}

    {% endif %}
  </div>

{% endpaginate %}
