{% for product in collections.all.products %}
  {% assign mainProduct = product %}

  <div id="product-main-{{ mainProduct.handle }}">
    {% comment %} Images {% endcomment %}
    <div id="product-gallery-{{ mainProduct.handle }}">
      {% for image in mainProduct.images %}
        <a href="{{ image.src | img_url: 'large' }}">
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </a>
      {% endfor %}
    </div>
    {% comment %} End of images {% endcomment %}

    {% comment %} Description {% endcomment %}
    <div id="product-bottom-{{ mainProduct.handle }}">
      <div id="product-title-{{ mainProduct.handle }}">
        <p>{{ mainProduct.title }}</p>
        {{ mainProduct.price | money }}
      </div>

      <div id="product-form-container-{{ mainProduct.handle }}">
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm-{{ mainProduct.handle }}">
          <select name="id" id="productSelect-{{ mainProduct.handle }}">
            {% for variant in mainProduct.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - sold out
                </option>
              {% endif %}
            {% endfor %}
          </select>
          {{ current_variant.price | money }}
          <button type="submit" name="add" id="AddToCart-{{ mainProduct.handle }}">Add to cart</button>
        </form>
      </div>

      <div id="product-description-{{ mainProduct.handle }}">
        {{ mainProduct.description }}
      </div>
    </div>
    {% comment %} End of description {% endcomment %}
  </div>

{% endfor %}
